<form [formGroup]="receiptFundsForm" (ngSubmit)="onSubmit()" novalidate>

  <ng-template matStepLabel>Дата та номер документу</ng-template>

  <!-- Дата Field -->
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Дата</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <!-- Номер вхідного документу Field -->
    <mat-form-field appearance="fill">
      <mat-label>Номер вхідного документу</mat-label>
      <input matInput formControlName="input_document_number">
    </mat-form-field>
  </div>
  
  <mat-vertical-stepper #stepper>
    <mat-step formGroupName="receipt_amount">
      <ng-template matStepLabel>Сума надходження</ng-template>
      <div formGroupName="receipt">
        <mat-form-field>
          <mat-label>Квитанція</mat-label>
          <mat-select formControlName="name">
            <mat-option value='АТ "УНІВЕРСАЛ БАНК" UA683220010000026009490001143'>АТ "УНІВЕРСАЛ БАНК"
              UA683220010000026009490001143</mat-option>
            <mat-option value='АТ КБ "ПРИВАТБАНК" UA483375460000026001015201967'>АТ КБ "ПРИВАТБАНК"
              UA483375460000026001015201967</mat-option>
            <mat-option value='АТ КБ "ПРИВАТБАНК" UA063375460000026009035200553'>АТ КБ "ПРИВАТБАНК"
              UA063375460000026009035200553</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div formGroupName="currency">
        <mat-form-field>
          <mat-label>Валюта</mat-label>
          <mat-select formControlName="currencyName">
            <mat-option value="гривня">гривня</mat-option>
            <mat-option value="долар">долар</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Сума</mat-label>
          <input matInput type="number" formControlName="amount">
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Сума за курсом НБУ</mat-label>
        <input matInput type="number" formControlName="amount_at_nbu_exchange_rate">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Курс НБУ під час створення</mat-label>
        <input matInput type="number" formControlName="nbu_exchange_rate">
      </mat-form-field>
    </mat-step>

    <mat-step formGroupName="donors">
      <ng-template matStepLabel>Благодійники</ng-template>
      <!-- Благодійники Group -->

      <div formGroupName="name">
        <mat-form-field>
          <mat-label>Назва</mat-label>
          <mat-select formControlName="type">
            <mat-option value="фізична особа">фізична особа</mat-option>
            <mat-option value="юридична особа">юридична особа</mat-option>
            <mat-option value="грантодавці">грантодавці</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Призначення платежу</mat-label>
        <input matInput formControlName="payment_purpose">
      </mat-form-field>
    </mat-step>

    <mat-step formGroupName="currency_sale_proceeds">
      <ng-template matStepLabel>Надходження від продажу валюти</ng-template>
      <!-- Надходження від продажу валюти Group -->
      <mat-form-field>
        <mat-label>Дата</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Гривні від продажу</mat-label>
        <input matInput type="number" formControlName="sale_proceeds_in_uah">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Сума курсової різниці</mat-label>
        <input matInput type="number" formControlName="exchange_rate_difference_amount">
      </mat-form-field>
    </mat-step>

    <mat-step formGroupName="accounting_entry">
      <ng-template matStepLabel>Бухгалтерська проводка</ng-template>
      <!-- Бухгалтерська проводка Group -->
      <mat-form-field>
        <mat-label>Debit</mat-label>
        <input matInput type="number" formControlName="debit">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Credit</mat-label>
        <input matInput type="number" formControlName="credit">
      </mat-form-field>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <!-- Submit Button -->
      <button mat-button type="submit" [disabled]="!receiptFundsForm.valid">Submit</button>
    </mat-step>
  </mat-vertical-stepper>
</form>