<mat-toolbar color="primary">
  <span>My Application</span>
  <span class="toolbar-spacer"></span>
  <app-db-status [dbInfo]="currentDbStatus"></app-db-status>
  <span class="toolbar-spacer"></span>
  <mat-icon *ngIf="errorCount > 0" [matBadge]="errorCount" matBadgeSize="small" matBadgeColor="warn" (click)="showErrors()" aria-hidden="false">error</mat-icon>
</mat-toolbar>
<main>
  <div>Current Error Count: {{ errorCount }}</div>
  <router-outlet></router-outlet>
</main>
<!-- 
<footer>
  <mat-toolbar color="accent">
    <span>© 2023 My Application</span>
  </mat-toolbar>
</footer>-->